cli/template/alterations/Encode_Decode.json
{"flowContents":{"identifier":"ab220a2c-0e47-3fd9-b223-1fb4c136afc1","instanceIdentifier":"c3213808-018f-1000-ffff-ffffa9e8b935","name":"Encode/Decode","comments":"","position":{"x":-568.0,"y":32.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"a2738fdb-1ac2-3ec6-8940-16f888bffcae","instanceIdentifier":"c322f41e-018f-1000-0000-00003b38abfd","name":"EncodeContent","comments":"","position":{"x":-680.0,"y":1128.0},"type":"org.apache.nifi.processors.standard.EncodeContent","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"Mode":"Encode","Encoding":"base64"},"propertyDescriptors":{"Mode":{"name":"Mode","displayName":"Mode","identifiesControllerService":false,"sensitive":false},"Encoding":{"name":"Encoding","displayName":"Encoding","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ab220a2c-0e47-3fd9-b223-1fb4c136afc1"}],"inputPorts":[{"identifier":"4ed5fc86-81fd-32ca-8c2a-bebfc1d4e488","instanceIdentifier":"c321915d-018f-1000-ffff-ffffff8b7222","name":"Input","comments":"","position":{"x":-956.5070537739389,"y":857.4889699236401},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"INPUT_PORT","groupIdentifier":"ab220a2c-0e47-3fd9-b223-1fb4c136afc1"}],"outputPorts":[{"identifier":"860bd814-2d5b-3cc9-abfb-6d8e60eed975","instanceIdentifier":"f0708cd6-425a-3c87-9065-fe529cb738eb","name":"Output","position":{"x":-280.0,"y":1496.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"ab220a2c-0e47-3fd9-b223-1fb4c136afc1"}],"connections":[{"identifier":"e2b80c29-ef26-3715-a3cc-51d41f74e9ba","instanceIdentifier":"c3233c8c-018f-1000-ffff-ffffc19cff7c","name":"","source":{"id":"4ed5fc86-81fd-32ca-8c2a-bebfc1d4e488","type":"INPUT_PORT","groupId":"ab220a2c-0e47-3fd9-b223-1fb4c136afc1","name":"Input","comments":"","instanceIdentifier":"c321915d-018f-1000-ffff-ffffff8b7222"},"destination":{"id":"a2738fdb-1ac2-3ec6-8940-16f888bffcae","type":"PROCESSOR","groupId":"ab220a2c-0e47-3fd9-b223-1fb4c136afc1","name":"EncodeContent","comments":"","instanceIdentifier":"c322f41e-018f-1000-0000-00003b38abfd"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ab220a2c-0e47-3fd9-b223-1fb4c136afc1"},{"identifier":"51bb9fad-368e-3441-a4c3-f985c4f65024","instanceIdentifier":"c3234dfc-018f-1000-ffff-ffff9ecf5b57","name":"","source":{"id":"a2738fdb-1ac2-3ec6-8940-16f888bffcae","type":"PROCESSOR","groupId":"ab220a2c-0e47-3fd9-b223-1fb4c136afc1","name":"EncodeContent","comments":"","instanceIdentifier":"c322f41e-018f-1000-0000-00003b38abfd"},"destination":{"id":"860bd814-2d5b-3cc9-abfb-6d8e60eed975","type":"OUTPUT_PORT","groupId":"ab220a2c-0e47-3fd9-b223-1fb4c136afc1","name":"Output","instanceIdentifier":"f0708cd6-425a-3c87-9065-fe529cb738eb"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ab220a2c-0e47-3fd9-b223-1fb4c136afc1"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"e562e6b9-735b-383b-8ee7-97a1bf49745d","instanceIdentifier":"ba3be839-054a-3cf5-a194-e049d3eac050","name":"AvroRecordSetWriter","type":"org.apache.nifi.avro.AvroRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.20.0"},"properties":{"compression-format":"NONE","Schema Write Strategy":"avro-embedded","schema-branch":null,"schema-name":"${schema.name}","cache-size":"1000","schema-registry":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"encoder-pool-size":"32","schema-cache":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"encoder-pool-size":{"name":"encoder-pool-size","displayName":"Encoder Pool Size","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.20.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"ab220a2c-0e47-3fd9-b223-1fb4c136afc1"},{"identifier":"6fb8646c-3a99-3f25-9835-14300d09ece7","instanceIdentifier":"59cdfce3-9b57-3923-a201-15d7fd8799f8","name":"AvroReader","type":"org.apache.nifi.avro.AvroReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.20.0"},"properties":{"schema-branch":null,"schema-name":"${schema.name}","cache-size":"1000","schema-registry":null,"schema-access-strategy":"embedded-avro-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.20.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"ab220a2c-0e47-3fd9-b223-1fb4c136afc1"},{"identifier":"3598a8e1-9ef0-3b7f-9c69-83466719eb43","instanceIdentifier":"10bad4f5-031c-3165-a489-e1d3179cd13f","name":"StandardRestrictedSSLContextService","comments":"","type":"org.apache.nifi.ssl.StandardRestrictedSSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-ssl-context-service-nar","version":"1.20.0"},"properties":{"Truststore Type":"PKCS12","SSL Protocol":"TLS","Keystore Type":null,"Truststore Filename":"/opt/nifi/nifi-current/data/file_to_generate.p12","Keystore Filename":null},"propertyDescriptors":{"Truststore Type":{"name":"Truststore Type","displayName":"Truststore Type","identifiesControllerService":false,"sensitive":false},"SSL Protocol":{"name":"SSL Protocol","displayName":"TLS Protocol","identifiesControllerService":false,"sensitive":false},"Keystore Type":{"name":"Keystore Type","displayName":"Keystore Type","identifiesControllerService":false,"sensitive":false},"Truststore Filename":{"name":"Truststore Filename","displayName":"Truststore Filename","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Keystore Password":{"name":"Keystore Password","displayName":"Keystore Password","identifiesControllerService":false,"sensitive":true},"key-password":{"name":"key-password","displayName":"Key Password","identifiesControllerService":false,"sensitive":true},"Truststore Password":{"name":"Truststore Password","displayName":"Truststore Password","identifiesControllerService":false,"sensitive":true},"Keystore Filename":{"name":"Keystore Filename","displayName":"Keystore Filename","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}}},"controllerServiceApis":[{"type":"org.apache.nifi.ssl.SSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.20.0"}},{"type":"org.apache.nifi.ssl.RestrictedSSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.20.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"ab220a2c-0e47-3fd9-b223-1fb4c136afc1"}],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}