cli/template/dcache.json
{
    "flowContents": {
        "identifier": "48ff064d-9149-3f94-aca2-d1b650182b8c",
        "instanceIdentifier": "138e83bc-0187-1000-ffff-ffff836e0b8d",
        "name": "dcache",
        "comments": "",
        "position": {
            "x": -288.0,
            "y": -472.0
        },
        "processGroups": [],
        "remoteProcessGroups": [],
        "processors": [
            {
                "identifier": "856d6929-0a34-3a2b-984f-8049bdd86da3",
                "instanceIdentifier": "68320c22-07ee-3bec-adbe-77fec2e433a9",
                "name": "GetFile",
                "comments": "",
                "position": {
                    "x": 273.0,
                    "y": 488.0
                },
                "type": "org.apache.nifi.processors.standard.GetFile",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-standard-nar",
                    "version": "1.20.0"
                },
                "properties": {
                    "Keep Source File": "false",
                    "Minimum File Age": "0 sec",
                    "Polling Interval": "0 sec",
                    "Input Directory": "/state",
                    "Maximum File Age": null,
                    "Batch Size": "10",
                    "Maximum File Size": null,
                    "Minimum File Size": "0 B",
                    "Ignore Hidden Files": "true",
                    "Recurse Subdirectories": "true",
                    "File Filter": "dcache.*",
                    "Path Filter": null
                },
                "propertyDescriptors": {
                    "Keep Source File": {
                        "name": "Keep Source File",
                        "displayName": "Keep Source File",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Minimum File Age": {
                        "name": "Minimum File Age",
                        "displayName": "Minimum File Age",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Polling Interval": {
                        "name": "Polling Interval",
                        "displayName": "Polling Interval",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Input Directory": {
                        "name": "Input Directory",
                        "displayName": "Input Directory",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Maximum File Age": {
                        "name": "Maximum File Age",
                        "displayName": "Maximum File Age",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Batch Size": {
                        "name": "Batch Size",
                        "displayName": "Batch Size",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Maximum File Size": {
                        "name": "Maximum File Size",
                        "displayName": "Maximum File Size",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Minimum File Size": {
                        "name": "Minimum File Size",
                        "displayName": "Minimum File Size",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Ignore Hidden Files": {
                        "name": "Ignore Hidden Files",
                        "displayName": "Ignore Hidden Files",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Recurse Subdirectories": {
                        "name": "Recurse Subdirectories",
                        "displayName": "Recurse Subdirectories",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "File Filter": {
                        "name": "File Filter",
                        "displayName": "File Filter",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Path Filter": {
                        "name": "Path Filter",
                        "displayName": "Path Filter",
                        "identifiesControllerService": false,
                        "sensitive": false
                    }
                },
                "style": {},
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "PRIMARY",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 0,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [],
                "scheduledState": "ENABLED",
                "retryCount": 10,
                "retriedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "maxBackoffPeriod": "10 mins",
                "componentType": "PROCESSOR",
                "groupIdentifier": "48ff064d-9149-3f94-aca2-d1b650182b8c"
            },
            {
                "identifier": "2b41cde7-ae43-3d95-b705-2c9ba1603cfc",
                "instanceIdentifier": "109e23a1-c438-3ded-bdd4-5d45e75d37c0",
                "name": "ExecuteProcess",
                "comments": "",
                "position": {
                    "x": 152.0,
                    "y": 256.0
                },
                "type": "org.apache.nifi.processors.standard.ExecuteProcess",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-standard-nar",
                    "version": "1.20.0"
                },
                "properties": {
                    "Command": "python3",
                    "Redirect Error Stream": "false",
                    "Working Directory": "/ssefiles",
                    "Argument Delimiter": " ",
                    "Batch Duration": null,
                    "Command Arguments": "${command}"
                },
                "propertyDescriptors": {
                    "Command": {
                        "name": "Command",
                        "displayName": "Command",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Redirect Error Stream": {
                        "name": "Redirect Error Stream",
                        "displayName": "Redirect Error Stream",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Working Directory": {
                        "name": "Working Directory",
                        "displayName": "Working Directory",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Argument Delimiter": {
                        "name": "Argument Delimiter",
                        "displayName": "Argument Delimiter",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Batch Duration": {
                        "name": "Batch Duration",
                        "displayName": "Batch Duration",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Command Arguments": {
                        "name": "Command Arguments",
                        "displayName": "Command Arguments",
                        "identifiesControllerService": false,
                        "sensitive": false
                    }
                },
                "style": {},
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "PRIMARY",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 0,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [
                    "success"
                ],
                "scheduledState": "ENABLED",
                "retryCount": 10,
                "retriedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "maxBackoffPeriod": "10 mins",
                "componentType": "PROCESSOR",
                "groupIdentifier": "48ff064d-9149-3f94-aca2-d1b650182b8c"
            }
        ],
        "inputPorts": [],
        "outputPorts": [
            {
                "identifier": "1b2aff93-7c72-3edd-954f-6fbe9ac80ab7",
                "instanceIdentifier": "633d4a39-82c2-3c52-8d53-b8dc86a6725d",
                "name": "out",
                "position": {
                    "x": 915.5,
                    "y": 490.5
                },
                "type": "OUTPUT_PORT",
                "concurrentlySchedulableTaskCount": 1,
                "scheduledState": "ENABLED",
                "allowRemoteAccess": false,
                "componentType": "OUTPUT_PORT",
                "groupIdentifier": "48ff064d-9149-3f94-aca2-d1b650182b8c"
            }
        ],
        "connections": [
            {
                "identifier": "351a5920-f145-3e2d-b62a-51f974ee2248",
                "instanceIdentifier": "12bc8f69-31ee-3075-9aad-8cae18dae149",
                "name": "",
                "source": {
                    "id": "856d6929-0a34-3a2b-984f-8049bdd86da3",
                    "type": "PROCESSOR",
                    "groupId": "48ff064d-9149-3f94-aca2-d1b650182b8c",
                    "name": "GetFile",
                    "comments": "",
                    "instanceIdentifier": "68320c22-07ee-3bec-adbe-77fec2e433a9"
                },
                "destination": {
                    "id": "1b2aff93-7c72-3edd-954f-6fbe9ac80ab7",
                    "type": "OUTPUT_PORT",
                    "groupId": "48ff064d-9149-3f94-aca2-d1b650182b8c",
                    "name": "out",
                    "instanceIdentifier": "633d4a39-82c2-3c52-8d53-b8dc86a6725d"
                },
                "labelIndex": 1,
                "zIndex": 0,
                "selectedRelationships": [
                    "success"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "48ff064d-9149-3f94-aca2-d1b650182b8c"
            }
        ],
        "labels": [],
        "funnels": [],
        "controllerServices": [],
        "variables": {
            "command": "commando"
        },
        "defaultFlowFileExpiration": "0 sec",
        "defaultBackPressureObjectThreshold": 10000,
        "defaultBackPressureDataSizeThreshold": "1 GB",
        "componentType": "PROCESS_GROUP",
        "flowFileConcurrency": "UNBOUNDED",
        "flowFileOutboundPolicy": "STREAM_WHEN_AVAILABLE"
    },
    "externalControllerServices": {},
    "parameterContexts": {},
    "flowEncodingVersion": "1.0",
    "parameterProviders": {},
    "latest": false
}